apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: solar-system
  name: solar-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: solar-system
  strategy: {}
  template:
    metadata:
      labels:
        app: solar-system
    spec:
      initContainers:
      - name: init-sleep
        image: busybox
        command: ["sh", "-c", "echo 'Waiting for 1 minute...'; sleep 60"]    
      containers:
      - image: siddharth67/solar-system:v8
        name: solar-system
        imagePullPolicy: Always
        ports: 
        - containerPort: 80
